section {
    float: left;
    width: 75%;

  }
   
  aside {
    float: right;
    width: 25%;
  }

  .titre{
    color: #00C4B8;
  }

.img-responsive {
  width: 100%;
}

aside {
  background-color: grey;
  border-style: solid;
}

header {
  background-color: rgb(172, 166, 166);
  border-style: solid;
}

textarea {
  width: 100%;
}



nav a {
  color : black;
  background-color: rgb(200, 200, 200);
  border-style: solid;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

body {
  animation: fade 2s;
}

@keyframes fade {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}


/*main {
  border-style: solid;
}*/
